.column {
    height: max-content;

    &>div {
        height: 100px;
        background-size: cover;
        background-repeat: no-repeat;

        &>button {
            background-color: #000000aa;
            color: var(--color3-);
            border: 1px solid var(--color3-);

            &:hover {
                background-color: #000000d5;
            }
        }
    }
}