@font-face {
    font-family: 'KaushanScript-Regular';
    src: url('../../assets/fonts/KaushanScript-Regular.ttf') format('truetype');
}

.paddingTop {
    padding-top: 56.25%;
}

.mHeader {
    margin: 10vh 0 5vh;
}

.paddingSection {
    padding: 10vh 0;
}

.ctrHeader {

    &>* {
        line-height: 1.5;
        font-style: italic;
        letter-spacing: .05em;
        line-height: 112%;
        text-transform: uppercase;
        font-family: 'KaushanScript-Regular', 'Courier New', Courier, monospace;
    }

    p {
        font-size: 14px;
        color: var(--color5-);
    }

    h1 {
        margin: 0;
        font-size: 25px;
        color: #fff;
    }
}

#slide {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: max-content;
    min-height: 50vh;

    &>div {
        position: relative;
        width: 100%;
        padding-top: 100%;

        &>.splashArt {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            img {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            video {
                z-index: 1;
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &>.title {
            z-index: 2;
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            background-image: linear-gradient(to bottom, #00000000, #000000);

            h1 {
                color: red;
                text-align: center;
                font-size: 60px;
                letter-spacing: 3px;
                font-family: 'KaushanScript-Regular', 'Courier New', Courier, monospace;
            }
        }
    }
}

#story {
    &>div {
        width: 90%;
        margin: auto;

        &>p {
            color: #fff;
            font-family: 'KaushanScript-Regular', 'Courier New', Courier, monospace;
            letter-spacing: 1px;
            text-align: center;
        }
    }
}

#slide {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: max-content;
    min-height: 50vh;

    .slide__splashArt {
        position: relative;
        width: 100%;
        height: auto;
    }

    .slide__title {
        z-index: 2;
        position: absolute;
        width: 100%;
        bottom: 0;
        animation: slideShow 0.3s ease-in-out forwards;
        background-image: none;

        img {
            object-fit: contain;
            width: 100%;
            margin-bottom: -4%;
        }

        h1 {
            /* width: 100%;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase; */
            margin-bottom: 28px;
            font-size: 25px;
            letter-spacing: 0.05rem;
            background: none;
            -webkit-text-fill-color: #fff;
            font-family: 'BarlowCondensed-BoldItalic', Arial, sans-serif;
        }

        p {
            width: 90%;
        }
    }
}

#musicVideo {
    padding: 20vh 0 10vh 0;

    .ctr__body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .ctr__border {
            border: 2px solid var(--color2-);
            max-width: 1020px;

            div {
                padding-top: 56.25%;
                button {
                    top: calc((100% - 50px) / 2);
                    left: calc((100% - 50px) / 2);
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background-color: var(--color1-);
                    color: red;
                    border: 5px solid var(--color3-);
                    box-shadow: 0 0 10px 10px #000000ad;
                    transition: all 300ms ease;
                    line-height: 40px;
                    text-align: center;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {

    #slide {
        margin: 10vh 0;

        &>div {
            padding-top: 56.25%;

            &>.splashArt {

                img {
                    object-fit: contain;
                }

                video {
                    object-fit: contain;
                }
            }

            &>.title {

                h1 {
                    font-size: 120px;
                }
            }
        }
    }

    #story {
        &>div {
            width: 65%;
            margin: auto;

            &>p {
                color: #fff;
                font-family: 'KaushanScript-Regular', 'Courier New', Courier, monospace;
                letter-spacing: 1px;
                text-align: center;
            }
        }
    }

}