.container__head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    min-height: 10vh;
    padding-bottom: 30px;
    padding-top: 100px;

    &>img {
        position: relative;
        object-fit: contain;
        max-width: 32px;
        max-height: 32px;
    }

    &>h1 {
        position: relative;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 7px;
        width: max-content;
        color: var(--color1-);
    }
}

@media (min-width: 768px) {
    .container__head {
        &>h1 {

            &::before,
            &::after {
                position: absolute;
                content: "";
                width: 20vw;
                height: 1px;
                top: 45%;
                opacity: 0.4;
            }

            &::before {
                right: calc(100% + 60px);
                background: linear-gradient(to left, var(--color2-), transparent);
            }

            &::after {
                left: calc(100% + 60px);
                background: linear-gradient(to right, var(--color2-), transparent);
            }
        }
    }
}