.gallery {
    column-gap: 20px;
    height: 300px;
    scroll-snap-type: x mandatory;
    cursor: pointer;
}

.gallery__item {
    scroll-snap-align: center;
    min-width: 75%;
    background-color: #000;

    img {
        object-fit: cover;
    }
}

@media (min-width: 768px) {
    .gallery {
        height: 500px;
    }
}