.gallery {
    column-gap: 20px;
    height: 300px;
    scroll-snap-type: x mandatory;
    cursor: pointer;
}

.gallery__item {
    position: relative;
    scroll-snap-align: center;
    min-width: 75%;
    background-color: #000;

    img {
        object-fit: cover;
    }

    button {
        position: absolute;
        height: 50px;
        width: 50px;
        background-color: #000000ba;
        border: 0;
    }
}

@media (min-width: 768px) {
    .gallery {
        height: 500px;
    }
}