.view {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    .imgs,
    .img {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .img {
        img {
            height: 100%;
        }
    }

    .imgs {
        img {
            height: auto;
        }
    }

    img {
        width: 100%;
        object-fit: contain;
    }

    button {
        position: fixed;
        left: 0%;
        top: 2%;
        padding: 10px;
        background-color: transparent;
        color: var(--color1-);
        border: 0;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .video {
        position: relative;
        width: 100%;
        height: 100%;

        .videoBorder {
            top: 50%;
            left: 50%;
            width: 100%;
            padding-top: 56.25%;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }
}

@media (min-width: 768px) {
    .view {

        .imgs,
        .img {
            width: 80%;
            left: 10%;
        }

        .video {
            left: 10%;
            width: 80%;
        }
    }
}