#container {
    min-height: 80vh;
}

.champions__list {
    margin-bottom: 5vh;

    &>.row__list {
        z-index: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    /* CSS col-md */

    .champions__list {
        &>.row__list {
            gap: 1rem;
            margin-top: 40px;

            &:nth-child(n+2) {
                margin-top: 50px;
            }
        }
    }
}